logs
*.log
coverage/
dist
node_modules/
.DS_Store
.npmrc
lib/
package-lock.json
target
.copilot/.local
.claude/settings.local.json
.yarn/*
!.yarn/patches/
!.yarn/plugins/
!.yarn/releases/

docs/.vuepress/.cache
docs/.vuepress/.temp
docs/.yarn/*
!docs/.yarn/patches/
!docs/.yarn/releases/
