logs
*.log
dist
node_modules/
.DS_Store
lib/
package-lock.json

docs/.vuepress/.cache
docs/.vuepress/.temp
docs/.yarn

.yarn/*
!.yarn/patches/
!.yarn/releases/
# Ignore this in case a local .npmrc is added with a token for publishing
.npmrc
