*.log
*.patch
*.snap
*.styl
*.svg
.*ignore
.husky/
.DS_Store
.nojekyll
.npmrc.publish
.nvmrc
docs/.vuepress/.cache/
docs/.vuepress/.temp/
docs/.yarn
/CHANGELOG.*
change/
dist/
lib/
LICENSE
node_modules/
SECURITY.md
yarn.lock