/**********
 Reset
***********/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
}
table,
th,
td {
  border: 1px solid black;
  padding: 5px;
}

/**********
 Text
***********/
html {
  font-size: 11px;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li,
ul {
  font-family: 'Avenir', 'Helvetica Neue', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl {
  margin: 0 0 30px 0;
}

li,
li > *,
dt,
dd {
  margin: 10px 0;
}

pre code {
  font-family: 'Space Mono', monospace;
  font-size: 1.2rem;
}

h1 {
  font-size: 3.5rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 2.5rem;
}
h4 {
  font-size: 2.4rem;
}
h5 {
  font-size: 2rem;
}
h6 {
  font-size: 1.6rem;
}

p,
a,
li,
dt,
dd,
tr,
th {
  font-size: 1.8rem;
}

a {
  color: #2973b7;
  text-decoration: none;
}
a:hover {
  border-bottom: 1px solid black;
}

html,
body {
  height: 100%;
  min-height: 100vh;
}
